@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}




nav 
{
    position: fixed;
    height: 55px;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.08);
    margin-top: -46.8rem;
}




 label h1
{
    position: absolute;
    font-size: 1.1em;
    margin-left: 15px;
    margin-top: 1rem;
}


nav ul
{
    float: right;
    margin-right: 40px;
}


nav li 
{
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
}


nav a 
{
    color: #222;
    font-size: 20px;
}


nav #icon .navbar {
  display: none;
}

.bar1, .bar3 {
  width: 33px;
  height: 5px;
  background-color: #222;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.bar2 {
  width: 33px;
  height: 5px;
  background-color: #222;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}




@media only screen and (max-width: 500px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.08);
        top: 55px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        backdrop-filter: blur(15px);
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 32px;
        transition: 0.3s;
    }
    
    
    nav li a:hover
    {
        color: rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
   nav #icon .navbar {
        display: inline-block;
        float: right;
        padding: 3px;        
        margin-top: 0.9rem; 
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 360px;
    }
    
    nav ul.show
    {
        left: 0;
    }



.flag 
{
    width: 100%;
    height: 750px;
    background: #fff;
    display: flex;
    justify-content: center;
}



.flag .one
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 6rem;
}




.flag .two
{
    position: absolute;
    font-size: 2em;
    color: #444;
    margin-top: 8.7rem;
}





.flag .three
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 11.4rem;
}



.flag .box 
{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 14.5rem;
}



.flag .box .bax 
{
    font-size: 1.8em;
    color: #fff;
}





.flag .four
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 18.3rem;
}





.flag img 
{
    position: absolute;
    width: 180px;
    margin-top: 24.5rem;
}




.flag a 
{
    position: absolute;
    display: inline-block;
    padding: 12px 65px;
    background: orange;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 39rem;
}









}















@media only screen and (max-width: 700px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.08);
        top: 55px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        backdrop-filter: blur(15px);
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 32px;
        transition: 0.3s;
    }
    
    
    nav li a:hover
    {
        color: rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
   nav #icon .navbar {
        display: inline-block;
        float: right;
        padding: 3px;
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 390px;
         margin-top: -0.6rem; 
    }
    
    nav ul.show
    {
        left: 0;
    }



.flag 
{
    width: 100%;
    height: 750px;
    background: #fff;
    display: flex;
    justify-content: center;
}



.flag .one
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 6rem;
}




.flag .two
{
    position: absolute;
    font-size: 2em;
    color: #444;
    margin-top: 8.7rem;
}





.flag .three
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 11.4rem;
}



.flag .box 
{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 14.5rem;
}



.flag .box .bax 
{
    font-size: 1.8em;
    color: #fff;
}





.flag .four
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 18.3rem;
}





.flag img 
{
    position: absolute;
    width: 180px;
    margin-top: 24.5rem;
}




.flag a 
{
    position: absolute;
    display: inline-block;
    padding: 12px 65px;
    background: orange;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 39rem;
}









}









@media only screen and (max-width: 2800px) {
   
   
    
    nav li a 
    {
        font-size: 20px;
        transition: 0.3s;
    }
    
    
    nav li a:hover
    {
        color: rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
  




.flag 
{
    width: 100%;
    height: 750px;
    background: #fff;
    display: flex;
    justify-content: center;
}



.flag .one
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 6rem;
}




.flag .two
{
    position: absolute;
    font-size: 2em;
    color: #444;
    margin-top: 8.7rem;
}





.flag .three
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 11.4rem;
}



.flag .box 
{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 14.5rem;
}



.flag .box .bax 
{
    font-size: 1.8em;
    color: #fff;
}





.flag .four
{
    position: absolute;
    font-size: 2em;
    color: #222;
    margin-top: 18.3rem;
}





.flag img 
{
    position: absolute;
    width: 180px;
    margin-top: 24.5rem;
}




.flag a 
{
    position: absolute;
    display: inline-block;
    padding: 12px 65px;
    background: orange;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 39rem;
}









}